/* TAMBAHAN UNTUK BOOTSTRAP */
.mx-6 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-7 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my-7 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.bg-mycolor {
  background-color: #efcb00;
}

.text-mycolor {
  color: #efcb00;
}

.no-decoration {
  text-decoration: none;
}

.nav-link:hover {
  position: relative;
  text-decoration: underline;
  text-decoration-color: #efcb00;
  text-underline-offset: 5px;
}

.nav-link.active {
  color: #efcb00;
  text-decoration: underline;
  text-decoration-color: #efcb00;
  text-underline-offset: 5px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  width: 100%;
}

/* TAMBAHAN UNTUK BOOTSTRAP - END*/

/* VANILLA CSS */
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  box-sizing: border-box;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.fotoFormat {
  width: 100%;
  height: 100%;
  transition: all .3s ease;
  object-fit: cover;
  display: block;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0 2rem 0;
  padding: 2rem 0 4rem 0;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin: 1rem 0;
}

.foto-profile {
  background-color: red;
  overflow: hidden;
  width: 440px;
  height: 500px;
  border-radius: 100%;
}

.foto-profile img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.right-side {
  display: flex;
  padding: 1rem;
}

.right-side .text-area {
  max-width: 500px;
}

.right-side .text-area>a {
  background-color: none;
  text-decoration: none;
  color: #efcb00;
  padding: .5rem 2rem;
  border-radius: 2rem;
  border: #efcb00 solid 1.5px;
  transition: all .3s ease;
}

.right-side .text-area>a:hover {
  box-shadow: 0 0 20px rgba(255, 220, 0, 0.5);
  background-color: #efcb00;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #efcb00;
}

.right-side .text-area .icon {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1em;
}

.icon .icon-sosmed {
  color: #efcb00;
  background-color: none;
  padding: 6px 10px;
  border-radius: 50%;
  border: #efcb00 solid 1.5px;
  transition: all .3s ease;
}

.icon .icon-sosmed:hover {
  box-shadow: 0 0 15px rgba(239, 203, 0, 0.5);
  background-color: #efcb00;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px #efcb00;
}

.skill h1 {
  text-decoration: underline 5px #efcb00 solid;
  text-underline-offset: 1rem;
}

.left-project {
  width: 50%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.284);
}

.left-project p {
  text-align: justify;
  max-width: 500px;
}

.right-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  border: rgb(255, 255, 255) solid 2px;
}

.carousel-item img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.footer {
  background: #111;
  border-top: 2px solid #000000;
  /* garis kuning */
}

.footer p {
  color: #ccc;
  margin: 0;
}

.footer h4 {
  color: #efcb00;
}

.footer .copyright {
  font-size: 0.9rem;
  color: #777;
}

.carousel {
  display: block;
}

/* VANILLA CSS - END */


/* RESPONSIVE */
@media (max-width: 768px) {
  .foto-profile {
    width: 200px;
    height: auto;
  }

  .right-project {
    width: 100%;
    max-width: 100%;
  }


  .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (min-width: 769px) {
  .foto-profile {
    width: 330px;
    height: auto;

  }
}

/* RESPONSIVE END */

/* ANIMASI TYPEWRITER */
.cursor,
#name {
  border-right: 3px solid#efcb00;
  animation: blinkCursor .8s infinite;
}

@keyframes blinkCursor {
  0% {
    border-right-color: #efcb00;
  }

  50% {
    border-right-color: transparent;
  }

  100% {
    border-right-color: #efcb00;
  }
}

/* ANIMASI TYPEWRITER END */


/* REVEAL ANIMATION */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all .8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* REVEAL ANIMATION END */